<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <title>Lanify</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/normalize.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="/stylesheets/loader.css">
      <link rel="stylesheet" href="/stylesheets/chatroom.css">
      <link rel="stylesheet" href="/stylesheets/jquery.webui-popover.min.css">
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/configuration.js"></script>
      <script src="/javascripts/authenticate.js"></script>
      <script src="/javascripts/moment.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/javascripts/bootstrap-datetimepicker.js"></script>
      <script src="/javascripts/jquery.dataTables.min.js"></script>
      <script src="/javascripts/analytics.js"></script>
      <script src="/javascripts/jquery-sortable.js"></script>
      <script src="/javascripts/index.js"></script>
      <script src="/javascripts/album.js"></script>
      <script src="/javascripts/admin.js"></script>
      <script src="/javascripts/login.js"></script>
      <script src="/javascripts/artist.js"></script>
      <script src="/javascripts/load.js"></script>
      <script src="/javascripts/chatroom.js"></script>
      <script src="/javascripts/tags.js"></script>
      <script src="/javascripts/player.js"></script>
      <script src="/javascripts/user_playlist.js"></script>
      <script src="/javascripts/jquery/jquery-ui.js"></script>
      <script src="/javascripts/modernizr-2.6.2.min.js"></script>
      <script src="/javascripts/tablednd.js"></script>
      <script src="/javascripts/peer.min.js"></script>
      <script src="/javascripts/peer_chat.js"></script>
      <link rel='stylesheet' href='/javascripts/jquery/jquery-ui.css' />
      <script src="/javascripts/typeahead.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="/javascripts/jplayer.playlist.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.jplayer.min.js"></script>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap-editable.css">
      <link href='/skin/blue.monday/css/jplayer.blue.monday.css' rel="stylesheet" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/album.css' />
      <link rel='stylesheet' href='/stylesheets/player.css' />
      <link rel='stylesheet' href='/slick/slick.css' />
      <link rel='stylesheet' href='/slick/slick-theme.css' />
      <link rel="stylesheet" href="/stylesheets/animate.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap-switch.min.css">
      <link rel="stylesheet" href="star-rating/css/star-rating.css">
      <script type="text/javascript" src="/slick/slick.min.js"></script>
      <script src="/javascripts/jquery.webui-popover.min.js"></script>
      <script src="/javascripts/bootstrap-notify.min.js"></script>
      <script src="/javascripts/bootstrap-editable.min.js"></script>
      <script src="/javascripts/bootstrap-switch.min.js"></script>
      <script src="star-rating/js/star-rating.js"></script>
   </head>
   <body>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div id="loader-wrapper">
         <div id="loader"></div>
         <div id="loader1">Lanify</div>
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>

      </div>
      <nav class="top_bar navbar-fixed-top">
         <div class="heading_top">
            <!--<a href="" onclick="load_home(); return false;">La<span class='glyphicon glyphicon-music'></span>ify<sup>β</sup></a>-->
            <!--<a href="" onclick="load_home(); return false;"><img src="image/lanify_logo.jpg" width="150px" height="50px"><img></a>-->
            <a href="" onclick="load_home(); return false;">Lanify</a>
            <% if ( username.length <= 0) { %>
            <button type="button" class="btn btn-default btn-lg" id="signinBtn">Login</button>
            <button type="button" class="btn btn-default btn-lg" id="signupBtn">Signup</button>
            <% } %>
            <% if (username.length >0 ){ %>
            <button type="button" class="btn btn-default btn-lg" id="userBtn">Hello <%= username %></button>
            <button type="button" class="btn btn-default btn-lg" id="logoutBtn">Logout</button>
            <% } %>

            <!--<button type="button" class="btn btn-default btn-lg backBtn">Back</button>-->
            <div style="display:initial">
               <button type="button" class="btn btn-default btn-lg" id="chatRoom">ChatRoom<span style="top: 5px; position: absolute; background: red; z-index: 1; border-radius: 10px; font-size: 90%;color:white; padding: 1px 5px 2px 5px;" id="notify_chat" ></span></button>
            </div>
            <!--<button type="button" class="btn btn-default btn-lg" id="userCall">Call</button>-->
            <!--<audio id="user_audio_call" style="visibility:hidden" controls></audio>-->
            <div class="fb-like" data-href="https://www.facebook.com/Lanify/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
            <!--<div class="fb-page"-->
            <!--data-href="https://www.facebook.com/lanify"-->
            <!--data-width="250"-->
            <!--data-height="70"-->
            <!--data-small_header = "true"-->
            <!--data-hide-cover="true"-->
            <!--data-show-facepile="false"-->
            <!--data-show-posts="false"></div>-->
            <!--</div>-->
            </div>
            <div id="search_bar">
               <input type="text" id="bar" class="form-control ui-autocomplete-input" placeholder="Search for Arijit Singh, Sunidhi Chauhan, 2 States..."/>
            </div>
            <div id="search_result" class="row ">
               <div id="search_song" class="ui-front ui-menu ui-widget ui-widget-content col-md-4" style="overflow-y:auto"> </div>
               <div id="search_album" class=" ui-front ui-menu ui-widget ui-widget-content col-md-4" style="overflow-y:auto"> </div>
               <div id="search_artist" class=" ui-front ui-menu ui-widget ui-widget-content col-md-4" style="overflow-y:auto">  </div>
            </div>
            </div>
      </nav>


      <!-- Sign In Modal -->
      <div class="modal fade" id="signinModal" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
               </div>
               <div id = "elogin" style="display: none;" class="alert alert-danger"></div>
               <div class="modal-body" style="padding:40px 50px;">
                  <form id="login_form" action = "/login" method="post" role="form">
                     <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" required class="form-control" id="username1" name="username" placeholder="Enter username">
                     </div>
                     <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" required class="form-control" id="password1" name="password" placeholder="Enter password">

                     </div>
                     <div class="checkbox">
                        <label><input id = "remember" type="checkbox" value="" checked>Remember me</label>
                     </div>
                     <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <p>Not a member? <button onclick="mswitch(2)">Sign Up</button></p>
                  <!--<p>Forgot <a href="#">Password?</a></p>-->
               </div>
            </div>

         </div>
      </div>

      <!-- Sign Up Modal -->
      <div class="modal fade" id="signupModal" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Register</h4>
               </div>
               <div id = "eregister" style="display: none;" class="alert alert-danger"></div>
               <div class="modal-body" style="padding:40px 50px;">
                  <form id= "register_form" action = "/register" method="post" role="form">
                     <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="text" minlength="4" required class="form-control" id="username" name="username" placeholder="Enter Username">
                     </div>
                     <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" required class="form-control" id="password" name="password" placeholder="Enter password">
                     </div>
                     <div class="form-group">
                        <label for="roll"><span class="glyphicon glyphicon-eye-open"></span> Roll No</label>
                        <input type="text" required class="form-control" id="rollno" name="rollno" placeholder="Enter College Roll No">
                     </div>
                     <div class="form-group">
                        <label for="mob"><span class="glyphicon glyphicon-eye-open"></span> Mobile</label>
                        <input type="number" min="7000000000" max="9999999999" required class="form-control" id= "mobileno" name="mobileno" placeholder="Enter Number">
                     </div>
                     <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Register</button>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <p >Already Registered <button onclick="mswitch(1)">Login</button></p>
               </div>
            </div>

         </div>
      </div>
      <!--opening popup window-->
      <div class="modal fade" id="openingModal" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Feature Update</h4>
               </div>
               <div class="modal-body">
                  <ul class="list-group">
                     <l class="list-group-item">Now chat while listening to song @Lanify's Official Chatroom. </l>
                     <!--<l class="list-group-item">If you are facing any problem, then try logging out and then logging in again. If problem still persists, clear your browser's cache or ping us.</l>-->
                     <!--<l class="list-group-item">View recently added songs by clicking on Songs Tab and then on Songs(Request) menu on top.</l>-->
                     <!--<l class="list-group-item">Now create your own Private Playlist by clicking on the <span class="glyphicon glyphicon-list"> </span> button left to the <span class="glyphicon glyphicon-plus"> </span> sign</l>-->
                     <!--<l class="list-group-item">You can share your Private Playlist with others</l>-->
                     <!--<l class="list-group-item">Login and get your Auto Generated playlist</l>-->
                     <!--<l class="list-group-item">The Songs classified in Genre tab is user contributed. For assigning genre to any song click on Add tags and classify it.</l>-->
                  </ul>
               </div>
               <div class="modal-footer">
                  <p>Not a member? <button onclick="mswitch(2)">Sign Up</button></p>
               </div>
            </div>
         </div>
      </div>
      <div class="content row area_content">

         <div class="col-md-2 side_content">
            <ul  class="nav nav-pills nav-stacked">
               <li class="active">
                  <a href="#home" onclick="hack(); analytics_actions('home');" data-toggle="tab"> <span class='glyphicon glyphicon-home'></span> Home</a>
               </li>
               <li>
                  <a href="#albums" onclick="analytics_actions('albums')" data-toggle="tab"> <span class='glyphicon glyphicon-cd'></span> Albums</a>
               </li>
               <li>
                  <a href="#artist" onclick="analytics_actions('artist')" data-toggle="tab"> <span class='glyphicon glyphicon-user'></span> Artists </a>
               </li>
               <li>
                  <a href="#songs" onclick="check_song_song(); analytics_actions('songs')" data-toggle="tab"> <span class='glyphicon glyphicon-music'></span> Songs</a>
               </li>
               <li style="visibility: hidden; display: none;">
                  <a href="#album_single" data-toggle="tab"> <span class='glyphicon glyphicon-music'></span> Album Single</a>
               </li>
               <li style="visibility: hidden; display: none;">
                  <a href="#artist_single" data-toggle="tab"> <span class='glyphicon glyphicon-music'></span> Artist Single</a>
               </li>
               <li>
                  <a href="#tags" onclick="load_tags(); analytics_actions('tags');" data-toggle="tab"> <span class='glyphicon glyphicon-book'></span> Genre </a>
               </li>
               <li>
                  <a href="#playlist" onclick="refresh_playlist(); analytics_actions('playlist');" data-toggle="tab"> <span class='glyphicon glyphicon-list-alt'></span> Playlist</a>
               </li>
               <li>
                  <a href="#now_playing" onclick="analytics_actions('now_playing')" data-toggle="tab"> <span class='glyphicon glyphicon-headphones'></span> Now Playing</a>
               </li>
               <li>
                  <a href="#request" onclick="analytics_actions('request')" data-toggle="tab"> <span class='glyphicon glyphicon-envelope'></span> Request</a>
               </li>
               <li>
                  <a href="#own_info" onclick="analytics_actions('own')" data-toggle="tab"> <span class='glyphicon glyphicon-th-large'></span> Info</a>
               </li>
               <li style="visibility: hidden; display: none;">
                  <a href="#tags_single" data-toggle="tab"> <span class='glyphicon glyphicon-music'></span> Tags Single</a>
               </li>
               <li style="visibility: hidden; display: none;">
                  <a href="#playlist_single" data-toggle="tab"> <span class='glyphicon glyphicon-list-alt'></span> Playlist Single</a>
                  <li style="visibility: hidden; display: none;">
                     <a href="#chatroom" data-toggle="tab"> <span class='glyphicon glyphicon-list-alt'></span>ChatRoom</a>
                  </li>
               </li>
            </ul>
         </div>
         <div class="col-md-10 main_content">
            <div class="tab-content clearfix">
               <div class="tab-pane active" id="home">
                  <div class="new_releases">
                     <h1 class="heading">
                        Albums
                     </h1>
                     <div class="arrows">
                        <span class='prev1 slick_arrow glyphicon glyphicon-arrow-left'></span>
                        <span class='next1 slick_arrow glyphicon glyphicon-arrow-right'></span>
                        <br>
                     </div>
                     <div class="album_slick">
                     </div>
                  </div>

                  <div class="top_songs">
                     <h1 class="heading">
                        Top Songs
                     </h1>
                     <div class="arrows">
                        <span class='prev2 slick_arrow glyphicon glyphicon-arrow-left'></span>
                        <span class='next2 slick_arrow glyphicon glyphicon-arrow-right'></span>
                        <br>
                     </div>
                     <div class="song_slick">
                     </div>
                  </div>
                  <div class="featured_artist">
                     <h1 class="heading">
                        Featured Artist
                     </h1>
                     <div class="arrows">
                        <span class='prev3 slick_arrow glyphicon glyphicon-arrow-left'></span>
                        <span class='next3 slick_arrow glyphicon glyphicon-arrow-right'></span>
                        <br>
                     </div>
                     <div class="artist_slick">
                        <% for (var i in artists){%>
                        <div class="item active">
                           <div class="col-md-2">
                              <img class="image_size" src="image/image.jpg"> </img>
                              <div class="break_word">
                                 <a href="" onclick="load_artist('/artist/<%=artists[i]%>');return false;"> <%=artists[i]%> </a>
                              </div>
                           </div>
                        </div>
                        <% if (i>=20) break;%>
                        <%} %>
                     </div>

                  </div>
               </div>
               <div class="tab-pane" id="albums">
                  <div class="album_container">
                     <div class="container">
                        <ul class="nav nav-pills nav-justified">
                           <li class="active"><a href="#album_english_div" data-toggle="tab">English</a></li>
                           <li><a href="#album_hindi_div" data-toggle="tab">Hindi</a></li>
                           <li><a href="#album_telugu_div" data-toggle="tab">Telugu</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="tab-content clearfix" >
                     <div class="tab-pane active" id="album_english_div">
                        <div class="albums_all_english"></div>
                        <div class="load_more">
                           <button class="btn-primary" onclick="load_more_album1('/users/album/english'); return false;"> Load More </button>
                        </div>
                     </div>
                     <div class="tab-pane" id="album_hindi_div">
                        <div class="albums_all_hindi"></div>
                        <div class="load_more">
                           <button class="btn-primary" onclick="load_more_album2('/users/album/hindi'); return false;"> Load More </button>
                        </div>
                     </div>
                     <div class="tab-pane" id="album_telugu_div">
                        <div class="albums_all_telugu"></div>
                        <div class="load_more">
                           <button class="btn-primary" onclick="load_more_album3('/users/album/telugu'); return false;"> Load More </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="artist">
                  <div class="artists_all">
                  </div>
                  <div class="load_more">
                     <button class="btn-primary" onclick="load_more_artist(); return false;"> Load More </button>
                  </div>
               </div>
               <div class="tab-pane" id="songs">
                  <div class="alphabet_container">
                     <div id="alphabet_songs"> </div>
                  </div>
                  <div class="songs_div">
                     <table class="table table-striped" id="table_songs">
                     </table>
                  </div>
                  <div class="load_more">
                     <button class="btn-primary" onclick="load_more_song(); return false;"> Load More </button>
                  </div>
               </div>
               <div class="tab-pane" id="artist_single">
                  <div id="exTab1" class="container">

                     <div class="album_description">
                        <div class="album_image" id="artist_single_image">
                        </div>
                        <div class="album_name">
                           <div class="album_name" id="artist_single_name">
                           </div>
                           <div class="album_options">
                              <div id="rename_artist"></div>
                           </div>
                        </div>
                     </div>

                     <ul  class="nav nav-pills">
                        <li class="active">
                           <a  href="#artist_songs" data-toggle="tab">Songs</a>
                        </li>
                        <li>
                           <a href="#artist_albums" data-toggle="tab">Albums</a>
                        </li>
                     </ul>

                     <div class="tab-content clearfix">
                        <div class="tab-pane active" id="artist_songs">
                           <table class="table table-striped" id="artist_single_songs_table">
                           </table>
                        </div>
                        <div class="tab-pane" id="artist_albums">
                           <div id="artist_single_albums" class="row">
                              <div class="">
                                 <div class="col-sm-3">
                                    <div class="song_image">
                                       <img src="">
                                       </img>
                                    </div>
                                    <div class="song_name">
                                       <a class="album_click" onclick="load_album('/album/<%=albums[i]%>')"> <%=albums[i]%> </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <table class="table table-striped" id="artist_single_albums_table">
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="album_single">
                  <div class="album_description">
                     <div id="album_single_image" class="album_image">
                     </div>
                     <div class="album_name">
                        <div id="album_single_name" >
                        </div>
                           <div class="album_options">
                              <div id="play_album"></div>
                              <div id="add_to_queue_album"></div>
                              <div id="add_to_playlist"></div>
                              <div id="create_new_playlist"></div>
                              <div id="rename_album"></div>
                           </div>
                     </div>
                  </div>
                  <table class="table-striped table" id="album_single_songs">
                  </table>
               </div>
               <div class="tab-pane" id="now_playing">
                  <div class="clear_queue">
                     <button class ='btn-primary'id="clear_queue"> Clear Queue </button>
                  </div>
                  <div id="jp_container_1" >
                     <div class="jp-playlist">
                        <ul>
                           <li></li> <!-- Empty <li> so your HTML conforms with the W3C spec -->
                        </ul>
                     </div>
                  </div>
                  <div class="now_playing_div">
                     <table class="table table-striped sorted_table" id="table_now_playing">
                        <tbody id="table_now_playing_body"></tbody>
                     </table>
                  </div>
               </div>


               <!--<div class="tab-pane" onclick = "load_user_playlist()" id="playlist">-->
               <!--</div>-->



               <!--<div class="tab-pane" id="playlist_single">-->
               <div class="tab-pane" id="playlist">
                  <div class="album_container">
                     <div class="container">
                        <ul class="nav nav-pills nav-justified">
                           <li class="active" onclick="load_public_playlist()" ><a href="#playlist_public_div" data-toggle="tab">Public</a></li>
                           <li onclick="load_private_playlist()"><a href="#playlist_private_div" data-toggle="tab">Private</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="tab-content clearfix" style="padding-top: 3%;" >
                     <div class="tab-pane active"id="playlist_public_div"> 
                     </div>
                     <div class="tab-pane" id="playlist_private_div">
                     </div>
                  </div>
               </div>


               <div class="tab-pane" id="playlist_single">
                  <div id="playlist_image" class="album_image">
                  </div>
                  <div class="tag_name">
                     <div id="playlist_name">
                     </div>
                     <input type="text" id="playlist_id" value="" style="display: none;visibility: hidden;"/>
                     <div class="playlist_options album_options">
                        <div id="play_playlist"></div>
                        <div id="add_to_queue_playlist"></div>
                        <% if ( username.length > 0) { %>
                        <div id="delete_playlist"></div>
                        <div id="rename_playlist"></div>
                        <% } %>
                        <label id="share_checkbox">Shared <input type="checkbox" id="share_checkbox_box" name="my-checkbox" ></label>
                        <div id="rating_status"></div>
                        <div id="playlist_rating"></div>
                        <div title="number of people visitng your playlist" id="playlist_hits"></div>
                     </div>
                  </div>
                  <table class="table-striped table" id="playlist_songs">
                  </table>
               </div>

               <div class="tab-pane" id="request">
                  <label style="margin-top:2%">We are sorry for the inconvenince caused . We hope you will understand its hard to maintain all the songs But We are trying hard to organise the songs in BIT for you guys . Btw we Dont have any data problem so just requesting with whatever album is missing.If possible try to share your dc nick where the songs you are requesting can be downloaded. </label>
                  <form class="form-horizontal" style = "margin-top:5%;margin-left:5%" role="form">
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-10">
                           <input type="text" class="search_block form-control" id="name" placeholder="Enter Your Name">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Song/Album:</label>
                        <div class="col-sm-10"> 
                           <input class="search_block form-control" id="songname" placeholder="Enter Song/Album Name/Artist(If possible try to give your dc nick where the song has been shared)">
                        </div>
                     </div>
                     <div class="form-group search_block">
                        <label for="bugs">Bugs:</label>
                        <textarea class="form-control search_block" rows="3" id="bugs" placeholder="Facing problem with something write here and we look to it"></textarea>
                     </div>
                     <div class="form-group search_block">
                        <label for="features">Features:</label>
                        <textarea class="form-control search_block" rows="3" id="features" placeholder="If you need any new features please enter here"></textarea>
                     </div>
                     <div class="form-group" style="margin-left:30%"> 
                        <div class="col-sm-offset-2 col-sm-10">
                           <button onclick="submit_request();return false;" type="submit" class="btn btn-default">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>

               <div class="tab-pane" id="chatroom">
                  <div id="chat-area" style="height:100%;float:left;border:1px solid #9A9090;background:rgba(0, 0, 0, 0.1)" class="col-sm-9">
                     <div style="margin-top: 1%;margin-left:3%">
                        <label>Welcome to Official ChatRoom of Lanify.Its filled with Qtiyapa and Its not logged.</label>
                     </div>
                     <div id="chatbox">
                        <div id="messages">Type @help for list of commands</div>
                     </div>
                     <form name="message" action="" style="margin-left:3%">
                        <input name="usermsg" type="text" id="usermsg" size="63" placeholder='Type your Message here' />
                        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
                     </form>
                  </div>
                  <div  id="user-area" style="height:100%;float:left;border:1px solid #9A9090;background:rgba(0, 0, 0, 0.1)" class="col-sm-3">
                     <div style="margin-top: 1%;margin-left:3%">
                        <label id="total_status">Users Online</label><br>
                        <span id="user_status" style="font-size:85%"></span>
                        <div id="sound"></div>
                     </div>
                        <div id="chat_online" >
                           <div id="online-users"></div>
                        </div>
                     </div>
                  </div>
               <div class="tab-pane" id="own_info">
                  <ul class="list-group" style="margin-top:20px">
                     <li class="list-group-item">The Database consist of <%= count %> Songs . If you are still unable to find the song you can request and we will upload the songs for you .</li>
                     <li class="list-group-item">We love keyboards and so there is various keyboard shortcuts assigned . If you need more just send a request or a pull request on github we will be happy to merge it .</li>
                     <li class="list-group-item">If u love designing and want to improve the look of the website message us and we will contact you.</li>
                     <li class="list-group-item">This website is made by <a target="_blank" href="https://www.facebook.com/pankajagarwal424">Pankaj Agarwal</a> and <a target="_blank" href="https://www.facebook.com/sk.sin28">Saurabh Sinha</a></li>
                     <li class="list-group-item">The project is open source and can be found in <a target="_blank" href="https://github.com/direwolf424/Lanify">Github</a></li>
                  </ul>
               </div>

               <div class="tab-pane" id="tags">
               </div>

               <div class="tab-pane" id="tags_single">
                  <ul class="nav nav-pills nav-justified" style="margin-top: 2%;">
                     <li class="active"><a href="#tags_english_div" data-toggle="tab">English</a></li>
                     <li><a href="#tags_hindi_div" data-toggle="tab">Hindi</a></li>
                     <li><a href="#tags_telugu_div" data-toggle="tab">Telugu</a></li>
                  </ul>
                  <div class="tab-content clearfix">
                     <div class="tab-pane active" id="tags_english_div">
                        <div id="tag_single_image_english" class="album_image">
                        </div>
                        <div class="tag_name">
                           <div id="tag_single_name_english" >
                           </div>
                              <div class="tag_options">
                                 <div id="play_tag_english"></div>
                                 <div id="add_to_queue_tag_english"></div>
                              </div>
                        </div>
                        <table class="table-striped table" id="tag_single_songs_english">
                        </table>
                     </div>

                     <div class="tab-pane" id="tags_hindi_div">
                        <div id="tag_single_image_hindi" class="album_image">
                        </div>
                        <div class="tag_name">
                           <div id="tag_single_name_hindi" >
                           </div>
                              <div class="tag_options">
                                 <div id="play_tag_hindi"></div>
                                 <div id="add_to_queue_tag_hindi"></div>
                              </div>
                        </div>
                        <table class="table-striped table" id="tag_single_songs_hindi">
                        </table>
                     </div>

                     <div class="tab-pane" id="tags_telugu_div">
                        <div id="tag_single_image_telugu" class="album_image">
                        </div>
                        <div class="tag_name">
                           <div id="tag_single_name_telugu" >
                           </div>
                              <div class="tag_options">
                                 <div id="play_tag_telugu"></div>
                                 <div id="add_to_queue_tag_telugu"></div>
                              </div>
                        </div>
                        <table class="table-striped table" id="tag_single_songs_telugu">
                        </table>
                     </div>
                  </div>
               </div>

               </div>
            </div>
         </div>

         <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Add Tags</h4>
                  </div>
                  <div class="modal-body">
                     <p>Select tags.</p>
                     <div class="checkbox">
                        <label><input type="checkbox" value="romantic" name="tags">Romantic</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="sad" name="tags">Sad</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="happy" name="tags">Happy</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="inspirational" name="tags">Inspirational</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="HIGH" name="tags">HIGH</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="bollywood 90s" name="tags">Bollywood 90s</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="sufi" name="tags">Sufi</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="retro" name="tags">Retro</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="metal" name="tags">Heavy Metal</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="item song" name="tags">Item Song</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="ghazal" name="tags">Ghazal</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="rock" name="tags">Rock</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="party" name="tags">Party</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="rap" name="tags">Rap</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="pop" name="tags">Pop</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="edm" name="tags">EDM</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="jazz" name="tags">Jazz</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="hip hop" name="tags">Hip Hop</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="electronic" name="tags">Electronic</label>
                     </div>
                     <div class="checkbox">
                        <div class="checkbox">
                           <label><input type="checkbox" value="marathi" name="tags">Marathi</label>
                        </div>
                        <label><input type="checkbox" value="punjabi" name="tags">Punjabi</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="indie" name="tags">Indie</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="folk" name="tags">Folk</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="instrumental" name="tags">Instrumental</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="classic" name="tags">Classic</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="devotional" name="tags">Devotional</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="festival" name="tags">Festival</label>
                     </div>


                     <input type="text" name="bookId" id="tag_id" value="" style="display: none;visibility: hidden;"/>
                     <input type="text" name="bookId" id="tag_lang" value="" style="display: none;visibility: hidden;"/>
                  </div>
                  <div class="modal-footer">
                     <button id="submit_tags" type="button" data-dismiss="modal" class="btn btn-default" >Submit</button>
                     <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>

            </div>
         </div>
         <div id="myPlaylist" class="modal fade" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" id="modal_close" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Add To Playlist</h4>
                  </div>
                  <div class="modal-body">
                     <div class="list-group" id="get_playlist">
                     </div>
                     <input type="text" name="bookId" id="playlist_song_id" value="" style="display: none;visibility: hidden;"/>
                     <div class="new_playlist">
                        <button class="btn btn-info" id="modal_playlist">Create New Playlist</button>
                        <input type="text" id="modal_playlist_input" style="display: none;margin-top: 2%;margin-left: 5%"/>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button id="submit_new_playlist" class="btn btn-info" type="button" data-dismiss="modal" class="btn btn-default" >Create Playlist</button>
                     <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>

            </div>
         </div>

         <div class="audio_player_container">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio audio_player" role="application" aria-label="media player">
               <div class="jp-type-single">
                  <div class="jp-gui jp-interface">
                     <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                     <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                     <marquee id="jp-song-name">
                     </marquee>
                     <div id="jp-album-name">
                     </div>
                     <div class="jp-progress">
                        <div class="jp-seek-bar">
                           <div class="jp-play-bar"></div>
                        </div>
                     </div>

                     <div class="jp-controls">
                        <button title="Left Arrow" class="jp-previous" role="button" tabindex="0">previous</button>
                        <button title="Spacebar" class="jp-play" role="button" tabindex="0">play</button>
                        <button title="Spacebar" class="jp-pause" role="button" tabindex="0">pause</button>
                        <button title="Right Arrow" class="jp-next" role="button" tabindex="0">next</button>
                        <button title="Repeat On (R)" class="jp-repeat" role="button" tabindex="0">repeat</button>
                        <button title="Turn Shuffle On (S)" class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                     </div>
                     <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div title="Up/Down" class="jp-volume-bar">
                           <div class="jp-volume-bar-value"></div>
                        </div>
                     </div>
                  </div>
                  <div class="jp-no-solution">
                     <span>Update Required</span>
                     To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                  </div>
               </div>
            </div>
         </div>
         <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-75806494-1', {'cookieDomain': 'none'});
ga('send', 'pageview');
         </script>
   </body>
</html>
